<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:name="com.poli.easysales.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PreVendasOmie">
        <meta-data android:name="io.sentry.dsn" android:value="https://6f65f62637604f88b8eeaa4323290a11@o1271297.ingest.sentry.io/6463297" />
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <activity
            android:name="com.poli.easysales.presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PreVendasOmie.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>